.head-text {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .input {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    outline: none;
    border-color: #0072ff;
  }
  
  .textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    resize: vertical;
    transition: border-color 0.3s ease;
  }
  
  .textarea:focus {
    outline: none;
    border-color: #0072ff;
  }
  
  .btn {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width:15.75rem;
  }
  
  .btn:hover {
    background: linear-gradient(to right, #0072ff, #00c6ff);
  }
  
  .relative {
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .min-w-[50%] {
    min-width: 50%;
  }
  
  .w-full {
    width: 100%;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .gap-7 {
    gap: 1.75rem;
  }
  
  .mt-14 {
    margin-top: 3.5rem;
  }
  
  .max-container {
    max-width: 90rem;
    margin: 0 auto;
  }
  
  .h-[550px] {
    height: 550px;
  }
  
  .h-[350px] {
    height: 350px;
  }
  